@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css"); */

.title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.button {
    position: relative;
    background: #444;
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 15px;
    padding: 5px 10px;
    transition: 0.2s;
  }
  
  .button:hover {
    letter-spacing: 0.2rem;
    padding: 7px 11px;
    background: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  .button span {
    position: relative;
    z-index: 1;
  }
  .button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
 .button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  .button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  .button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes box {
    0% {
      box-shadow: #27272c;
    }
    50% {
      box-shadow: 0 0 25px var(--clr);
    }
    100% {
      box-shadow: #27272c;
    }
  }

  @media ( min-width:1080px ){
    .button{
      font-size: 10px;
    }
  }

  @media (max-width:400px){

    .button{
      font-size: 10px;
    }

  }

  /* Loading */

  @keyframes ldio-5zhkcd2h025 {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-5zhkcd2h025 div { box-sizing: border-box!important }
  .ldio-5zhkcd2h025 > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #e15b64 transparent #e15b64 transparent;
    animation: ldio-5zhkcd2h025 1s linear infinite;
  }
  
  .ldio-5zhkcd2h025 > div:nth-child(2), .ldio-5zhkcd2h025 > div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-5zhkcd2h025 1s linear infinite reverse;
  }
  .ldio-5zhkcd2h025 > div:nth-child(2) {
    border-color: transparent #f8b26a transparent #f8b26a
  }
  .ldio-5zhkcd2h025 > div:nth-child(3) { border-color: transparent }
  .ldio-5zhkcd2h025 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-5zhkcd2h025 > div:nth-child(3) div:before, .ldio-5zhkcd2h025 > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #e15b64;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #e15b64;
  }
  .ldio-5zhkcd2h025 > div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #e15b64;
  }
  
  .ldio-5zhkcd2h025 > div:nth-child(4) { border-color: transparent; }
  .ldio-5zhkcd2h025 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-5zhkcd2h025 > div:nth-child(4) div:before, .ldio-5zhkcd2h025 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #f8b26a;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #f8b26a;
  }
  .ldio-5zhkcd2h025 > div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #f8b26a;
  }
  .loadingio-spinner-double-ring-otx90yy854f {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-5zhkcd2h025 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-5zhkcd2h025 div { box-sizing: content-box; }
  /* generated by https://loading.io/ */


  /*  */
  /*  */
  /*  */

  p{
    padding: 10px 0px;
    /* line-height: 20px; */
  }

  .twolines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
 }

 /* Chnage color carousel */

/* Fonts */
h1,h2,h3,h4,h5,h6{
  font-family: sans-serif , serif;
  color: #462B58;

}

span,p,a,label,div,section,aside,address{
  /* color: #462B58; */
  font-family: monospace,sans-serif;
}


/* To Top */
